.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
  }
  
  .logo a {
    text-decoration: none;
    color: #000;
    font-size: 1.5em;
  }
  
  .navBar {
    display: flex;
    flex-grow: 1; /* Allow navbar to grow to fill remaining space */
    justify-content: center; /* Center align nav links */
  }
  
  .navBar a {
    text-decoration: none;
    color: #000;
    font-size: 1em;
    margin: 0 15px; /* Add margin between nav links */
  }
  
  .search-cart-container {
    display: flex;
    align-items: center;
  }
  
  .searchbar {
    margin-right: 15px; /* Adjust margin between search bar and cart icon */
  }
  
  .cart-icon {
    margin-right: 40px; /* Adjust margin to move cart icon to the right */
  }
  